<div>
  <div>
    <h1>
      List of all current companies
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new current company
    </h2>

    <form action="/insert_current_company" method="post">
      <button>
        Create current company
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_current_companies.each do |a_current_company| %>
      <tr>
        <td>
          <%= a_current_company.id %>
        </td>

        <td>
          <%= time_ago_in_words(a_current_company.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_current_company.updated_at) %> ago
        </td>

        <td>
          <a href="/current_companies/<%= a_current_company.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
