<h1> Welcome to YourNetwork </h1>

<ul>
<li>
<a href="https://www.forbes.com/sites/forbesbusinessdevelopmentcouncil/2022/08/29/14-growing-industry-trends-that-are-raising-the-stakes-for-business-developers/"target="_blank">Industry Trends </a>
</li>
<li>
<a href= "https://www.topresume.com/career-advice/7-networking-tips-for-job-seekers"target="_blank">Networking Tips</a>
</li>
<li>
<a href= "https://hbr.org/2021/11/10-common-job-interview-questions-and-how-to-answer-them"target="_blank"> Interview Tips </a>
</li>
</ul>
